@reference "./tailwind.css";

@layer base {
  .icon {
    @apply
      inline-flex relative justify-center items-center self-center;

    top: -0.1em;
    width: 1em;
    height: 1em;
    font-size: 1em;

    svg {
      width: 1em;
      height: 1em;
      fill: currentcolor;
    }
  }

  .vis-item-icon {
    @apply flex items-center justify-center gap-1;
  }

  .vis-item-icon:before {
    @apply block size-4.5 bg-[currentColor];
    content: '';
    vertical-align: top;
    mask-image: var(--icon);
    mask-repeat: no-repeat;
  }
}
